@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@800;900&display=swap');
*{
    padding:0px;margin:0px;box-sizing: border-box;
}
html{
    min-height: 100%;
    font-family: 'Commissioner', sans-serif;
}
body{
    min-height: 100vh;  
    display: flex;
    flex-direction: row;
}
.content{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 9, 9);
}

.nav_bar{
    display: flex;
    justify-content: space-around;
    padding: 2%;  
    background-color: rgb(9, 9, 9);
}
.nav_bar div button{
    font-size: 20px;
    color: tomato;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline-style: none;
}
.nav_bar div button:hover{
    color: rgb(240,240,240);
}
.reg_atzr{
     margin-left: 20%;
}
.nav_bar div{
    flex-grow: 1;
}

.nav_bar button:hover{
    color: rgb(240,240,240);
}
.myProfile{
    padding: 4%;
    font-size: 2em;

}
.profile_Content{
	display: flex;
	flex-direction: column;
    padding: 2%;
    color: rgb(240,240,240);
    border-bottom: 1px solid rgb(20, 92, 240);
}
.unauthorized{
    font-size: 2em;
}
.my_articles{
    padding: 2%;
    color: rgb(240,240,240);
}
.article_container{
    margin: 9% 0px;
    color: rgb(240,240,240);
    border-bottom: 1px solid rgb(20, 92, 240);
}
.article_container:first-child{
    margin: 0% 0px;
	color: rgb(240,240,240);
	display: flex;
}
.article_container h1{
    font-size: 1.2em;
}
.detail{
    color: #dfdfdf;
    background-color: rgb(43, 153, 226);
    text-decoration: none;
    display: block;
    padding:20px;
    margin: 2%;
    font-size:18px;
    max-width: 11%;
}
.btn_delete{
	margin-left: auto;
	font-size: 20px;
	padding: 1.2%;
	background-color: #ff0d50;
	border: none;
	color: rgb(240,240,240);
}
.btns{
	display: flex;
}
.btn_delete:nth-child(2){
	align-self: center;
}
#fountainTextG{
	width:360px;
	margin:auto;
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:38px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
#fountainTextG_8{
	animation-delay:1.79s;
		-o-animation-delay:1.79s;
		-ms-animation-delay:1.79s;
		-webkit-animation-delay:1.79s;
		-moz-animation-delay:1.79s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}